<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="librerias::librerias">
    <meta charset="UTF-8">
    <title>Categorías</title>
     
</head>
<body>
<header>
    <div th:insert="top::top"></div>
  
</header>
<div class="container">
    <h1>Categorías</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Acciones</th>
        </tr>
        <tr th:if="${listaCategorias.empty}">
            <td colspan="2"> No hay categorías</td>
        </tr>
        <tr th:each="categoria : ${listaCategorias}">
            <td th:text="${categoria.id}"></td>
            <td th:text="${categoria.nombre}"></td>
            <td th:text="${categoria.usuario.username}"></td>

            <td>
                <a th:href="@{/categorias/{id}/hilos(id=${categoria.id})}" class="btn btn-info">Ver Hilos</a>
                <a th:href="@{/categorias/delete/__${categoria.id}__}" class="btn btn-danger" sec:authorize="isAuthenticated()"
                   th:if="${#authentication?.principal?.username == categoria.usuario?.username && categoria.usuario?.username != null || #authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">Eliminar</a>
                <!--<a th:href="@{/categorias/delete/__${categoria.id}__}" class="btn btn-danger"
                   th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">Eliminar</a>-->
            </td>
        </tr>
    </table>

<div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
    <h2>Agregar Categoría</h2>
    <form th:object="${categoriaNuevo}" th:action="@{/categorias/add}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required/>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>

    <div>
        <h2>Editar Categoría</h2>
        <div th:each="categoria : ${listaCategorias}">
            <div th:if="${#authentication?.principal?.username == categoria.usuario?.username && categoria.usuario?.username != null}">
                <h3>Categoría ID: <span th:text="${categoria.id}"></span></h3>
                <form th:object="${categoria}" th:action="@{/categorias/edit}" method="post">
                    <input type="hidden" th:name="id" th:value="${categoria.id}"/>
                    <div class="form-group">
                        <label for="nombreEdit">Nombre:</label>
                        <input type="text" id="nombreEdit" th:name="nombre" th:value="${categoria.nombre}"
                               class="form-control" required/>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>

