<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="librerias::librerias"></head>
<body>
    <header>
        <div th:insert="top::top"></div>
    </header>
    <div class="container">
        <h2>Editar Usuario</h2>
        <form th:action="@{/usuarios/{id}/editar(id=${usuarioEditar.id})}" method="post" th:object="${usuarioEditar}">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
            </div>
            <div class="form-group">
                <label for="usuario">Usuario:</label>
                <input type="text" class="form-control" id="usuario" th:field="*{username}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" th:field="*{password}">
            </div>
            <div class="form-group">
                <label for="roles">Rol:</label>
                <select class="form-control" id="roles" th:field="*{roles}" multiple>
                    <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol.nombre}"></option>
                </select>
            </div>
            <!-- Otros campos a editar... -->
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>
