<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="librerias::librerias"></head>

<body>
    <header>
        <div th:insert="top::top"></div>
    </header>

    <div class="container">
        <h2>Editar Post</h2>

		<form th:action="@{/hilo/guardarPost/{id}(id=${post.id})}" th:object="${post}" method="post">
		    <input type="hidden" name="idHilo" th:value="${post.hilo.id}" />
		    <input type="hidden" id="usuarioId" name="usuario.id" th:value="${#authentication?.principal?.id}" />


    <div class="form-group">
        <label for="contenido">Contenido:</label>
        <textarea class="form-control" id="contenido" name="contenido" th:text="${post.contenido}" required></textarea>
    </div>
            <br>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

  <!-- Botón de volver -->
    <button onclick="history.back()" class="btn btn-secondary">Volver</button>

    </div>
    
      <!-- Botón de volver -->
</body>
</html>
