<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="librerias">
    <title>Editar Hilo</title>
</head>
<body>

	<header>
		<div th:insert="top::top"></div>
	</header>

<div class="container">
    <h2>Editar Hilo</h2>
<form th:action="@{/categorias/{idCategoria}/hilos/{id}/actualizar(idCategoria=${hiloEditar.categoria.id}, id=${hiloEditar.id})}" method="post">
    <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" th:value="${hiloEditar.titulo}" class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
        <br>

  <!-- Botón de volver -->
    <button onclick="history.back()" class="btn btn-secondary">Volver</button>
</div>
</body>
</html>
