<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="librerias::librerias"></head>

<body>

<header>
    <div th:insert="top::top"></div>
</header>

<div class="container">
<br>

<div sec:authorize="!isAuthenticated()" class="alert alert-info">
    <!-- Mensaje para usuarios no autenticados -->
    <p>Si quieres participar en el foro, regístrate.</p>
</div>    
 
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">Posts del Hilo: <span th:text="${hilo.titulo}"></span></div>
                <div class="card-body">
                <form action="#" sec:authorize="isAuthenticated()"
		              th:action="@{/hilo/crearPost(idHilo=${hilo.id})}" th:object="${nuevoPost}" method="post">
		            <div class="form-group">
		                <label for="contenido"></label>
		                <textarea class="form-control" id="contenido" name="contenido" placeholder="Escribe tu post" required></textarea>
		            </div>
		            <div style="display: flex; justify-content: end; margin-top:10px;">
		            <button type="submit" class="btn btn-primary">Publicar</button>
		            </div>
		        </form>
            <br>

        
                <tr th:if="${listaPosts.empty}">
				<td colspan="2"> No hay posts para este hilo todavía. Se el primero en publicar!</td>
				</tr>
                
                    <!-- ... Código existente ... -->

                    <div th:each="post : ${listaPosts}" class="mb-3">
                        <div class="card">
                            <div class="card-body" style="background-color: #F7F7F7;">
                            
                            
                                <p class="card-title">
                                
                                <div style="display: flex; justify-content: space-between;">
                                	<div>
									Fecha: <small>
									    <span th:if="${post.fecha == null}" th:unless="${post.fecha == null}" th:text="${#temporals.format(post.fecha, 'yyyy-MM-dd HH:mm:ss')}">Este post ha sido editado</span>
									    <!--<span th:unless="${post.fecha != null}">Este post ha sido editado</span>-->
									    <span th:unless="${post.fecha == null}" th:text="${#temporals.format(post.fecha, 'yyyy-MM-dd HH:mm:ss')}">Este post ha sido editado</span>
									</small>
                                	</div> 
                                	<div sec:authorize="isAuthenticated()">
									<div th:if="${#authentication?.principal?.username == post.usuario?.username && post.usuario?.username != null || #authorization.expression('hasAuthority(''ROLE_ADMIN'')')}" class="dropdown">
								        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								            <i class="fas fa-ellipsis-h"></i> <!-- Ícono de tres puntos -->
								        </button>
								        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								            <!-- Botón de edición -->
								            <a th:if="${#authentication?.principal?.username == post.usuario?.username && post.usuario?.username != null || #authorization.expression('hasAuthority(''ROLE_ADMIN'')')}"
										    th:onclick="'openEditModal(' + ${post.id} + ');'" class="dropdown-item">Editar</a>

								            
								          
								            <!-- Botón de borrado -->
								            <button th:if="${#authentication?.principal?.username == post.usuario?.username && post.usuario?.username != null || #authorization.expression('hasAuthority(''ROLE_ADMIN'')')}"
						       				 class="dropdown-item" data-toggle="modal" th:data-target="'#confirmarEliminacionModal' + ${post.id}">Eliminar</button></form>
																				            
								           
								        </div>
						   			 </div>
                                	</div>
									
									
                                </div>
                                </p>
								<h5 class="card-title" th:text="${post.usuario != null ? post.usuario.username : 'Usuario desconocido'}"></h5>

                                <p class="card-text" th:text="${post.contenido}"></p>
							
                            </div>
                        </div>
                        
                        
                           <!-- Modal de confirmación de eliminación -->
					<div class="modal fade" th:id="'confirmarEliminacionModal' + ${post.id}" tabindex="-1" role="dialog" aria-labelledby="'confirmarEliminacionModalLabel' + ${post.id}" aria-hidden="true">
					        <div class="modal-dialog" role="document">
					            <div class="modal-content">
					                <div class="modal-header">
					                    <h5 class="modal-title" id="confirmarEliminacionModalLabel">Confirmar eliminación</h5>
					                   
					                </div>
					                <div class="modal-body">
					                    <p>¿Estás seguro de que deseas eliminar el post?</p>
					                </div>
					                <div class="modal-footer">
				                     <form th:action="@{/borrarPost}" method="post">
						                <input type="hidden" name="idPost" th:value="${post.id}" />
										<button class="btn btn-danger" data-toggle="modal" data-target="#confirmarEliminacionModal">Eliminar</button>
									</form>
					                </div>
					            </div>
					        </div>
					    </div>
                        
                        <div class="modal fade" th:id="'editModal' + ${post.id}" tabindex="-1" role="dialog" aria-labelledby="editModal' + ${post.id}" aria-hidden="true">
						    <div class="modal-dialog" role="document">
						        <div class="modal-content">
								<!-- Agrega el atributo th:action para apuntar al controlador de edición de posts -->
									<form th:action="@{/hilo/guardarPostEditado/{id}(id=${post.id}, idHilo=${hilo.id})}" method="post">
									    <!-- Contenido del formulario -->
									    <div class="modal-header">
									        <h5 class="modal-title" id="editHiloModalLabel">Editar Post</h5>
									    </div>
									    <div class="modal-body">
									        <div class="form-group">
									            <label for="contenidoEdit">Contenido del post:</label>
									            <textarea id="contenidoEdit" th:name="contenido" class="form-control" required th:placeholder="${post.contenido}" th:value="${post.contenido}"></textarea>
									            <input type="hidden" th:name="id" th:value="${post.id}"/>
									        </div>
									    </div>
									    <div class="modal-footer">
									        <button type="submit" class="btn btn-primary">Guardar</button>
									    </div>
									</form>

										
						        </div>
						    </div>
						</div>
                        
                        
                    </div>

                    <!-- ... Código existente ... -->

                </div>
            </div>
        </div>
    </div>

   
    <br>
    

    <!-- Si no hay usuario registrado, mostrar mensaje de inicio de sesión -->
    <div th:unless="${#authentication.isAuthenticated()}">
        <p>Inicia sesión para poder publicar.</p>
    </div>

    <br>
    <!-- Botón de volver -->
    <button onclick="history.back()" class="btn btn-secondary">Volver</button>

</div>



<script>
    function openEditModal(postId) {
    // Genera el ID del modal basado en categoryId
   var modalId = 'editModal' + postId;
        $('#' + modalId).modal('show');
}
    
   function openCreateModal() {
    // Abre el modal de creación de categoría
    $('#createPostModal').modal('show');
}


</script>

</body>
</html>