<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="librerias::librerias"></head>

<body>

<header>
    <div th:insert="top::top"></div>
</header>

<div class="container">
<br>

<div sec:authorize="!isAuthenticated()" class="alert alert-info">
    <!-- Mensaje para usuarios no autenticados -->
    <p>Si quieres participar en el foro, regístrate.</p>
</div>    
 
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">Posts del Hilo: <span th:text="${hilo.titulo}"></span></div>
                <div class="card-body custom-dark-background">
                <form action="#" th:if="${#authentication.isAuthenticated()}"
		              th:action="@{/hilo/crearPost(idHilo=${hilo.id})}" th:object="${nuevoPost}" method="post">
		            <div class="form-group">
		                <label for="contenido"></label>
		                <textarea class="form-control" id="contenido" name="contenido" placeholder="Escribe tu post" required></textarea>
		            </div>
		            <div style="display: flex; justify-content: end; margin-top:10px;">
		            <button type="submit" class="btn btn-primary">Publicar</button>
		            </div>
		        </form>
            <br>

        
                <tr th:if="${listaPosts.empty}">
				<td colspan="2"> No hay posts para este hilo todavía</td>
				</tr>
                
                    <!-- ... Código existente ... -->

                    <div th:each="post : ${listaPosts}" class="mb-3">
                        <div class="card">
                            <div class="card-body">
                            
                            
                                <p class="card-title">
                                
                                <div style="display: flex; justify-content: space-between;">
                                	<div>
									Fecha: <small>
									    <span th:if="${post.fecha == null}" th:unless="${post.fecha == null}" th:text="${#temporals.format(post.fecha, 'yyyy-MM-dd HH:mm:ss')}">Este post ha sido editado</span>
									    <!--<span th:unless="${post.fecha != null}">Este post ha sido editado</span>-->
									    <span th:unless="${post.fecha == null}" th:text="${#temporals.format(post.fecha, 'yyyy-MM-dd HH:mm:ss')}">Este post ha sido editado</span>
									</small>
                                	</div> 
									<div sec:authorize="isAuthenticated()" class="dropdown">
								        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								            <i class="fas fa-ellipsis-h"></i> <!-- Ícono de tres puntos -->
								        </button>
								        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								            <!-- Botón de edición -->
								            <a th:href="@{/hilo/editarPost(idPost=${post.id})}"
								               th:if="${#authentication?.principal?.username == post.usuario?.username}"
								               class="dropdown-item">Editar</a>
								            
								            <!-- Botón de edición para admins y moderadores -->
								            <a th:href="@{/hilo/editarPost(idPost=${post.id})}"
								               th:if="${#authorization.expression('hasAuthority(''ROLE_MOOD'') or hasAuthority(''ROLE_ADMIN'')')}"
								               class="dropdown-item">Editar</a>
								            
								            <!-- Botón de borrado -->
								            <form th:action="@{/borrarPost}" method="post"
								                  th:if="${#authentication?.principal?.username == post.usuario?.username && post.usuario?.username != null}">
								                <input type="hidden" name="idPost" th:value="${post.id}" />
								                <button type="submit" class="dropdown-item">Borrar</button>
								            </form>
								            
								            <!-- Botón de borrado (para admins y moderadores) -->
								            <form th:action="@{/borrarPost}" method="post"
								                  th:if="${#authorization.expression('hasAuthority(''ROLE_MOOD'') or hasAuthority(''ROLE_ADMIN'')')}">
								                <input type="hidden" name="idPost" th:value="${post.id}" />
								                <button type="submit" class="dropdown-item">Borrar</button>
								            </form>
								        </div>
						   			 </div>
									
									
                                </div>
                                </p>
								<h5 class="card-title" th:text="${post.usuario != null ? post.usuario.username : 'Usuario desconocido'}"></h5>

                                <p class="card-text" th:text="${post.contenido}"></p>
							
                            </div>
                        </div>
                    </div>

                    <!-- ... Código existente ... -->

                </div>
            </div>
        </div>
    </div>

   
    <br>
    

    <!-- Si no hay usuario registrado, mostrar mensaje de inicio de sesión -->
    <div th:unless="${#authentication.isAuthenticated()}">
        <p>Inicia sesión para poder publicar.</p>
    </div>

    <br>
    <!-- Botón de volver -->
    <button onclick="history.back()" class="btn btn-secondary">Volver</button>

</div>

<script>
    function openEditModal(hiloId) {
    // Genera el ID del modal basado en categoryId
    var modalId = 'editPostModal' + hiloId;

    // Abre el modal de edición con el ID generado
    $('#' + modalId).modal('show');
}
    
   function openCreateModal() {
    // Abre el modal de creación de categoría
    $('#createPostModal').modal('show');
}


</script>

</body>
</html>
