<div th:fragment="top">
	<!-- Topbar -->
	<!-- Topbar -->
	<!-- Topbar -->
	<!-- Topbar -->
	<!-- Topbar -->


	<div class="collapse" id="navbarHeader" style="background-color: #A60311;">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-7 py-4">
					<h4 class="text-white">¿Qué es?</h4>
					<p class="text-muted">Aplicación web de gestión de bocadillos sobre Spring, Thymeleaf, MySQL.
						Proyecto DWES - 2ºDAW</p>
				</div>
				<div class="col-sm-4 offset-md-1 py-4">
					<h4 class="text-white">Contacto</h4>
					<ul class="list-unstyled">
						<li><a href="#" class="text-white">Follow on Twitter</a></li>
						<li><a href="#" class="text-white">Like on Facebook</a></li>
						<li><a href="#" class="text-white">Email me</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-dark bg-dark box-shadow">
		<div class="container d-flex justify-content-between">

		<nav class="navbar navbar-expand  navbar-dark bg-dark box-shadow">

			<a href="/" class="navbar-brand d-flex align-items-center">
				<img src="../../public/images/icon.png" alt="Logo" class="img-fluid" style="width: 100px;">
			</a>





				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">

					<li class="nav-item">
            <a class="nav-link" href="/" role="button">
                <i class="fas fa-home" style="font-size: 24px; color: #D98F8F; transition: transform 0.3s ease, color 0.3s ease;"></i>
                Inicio
            </a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link" href="/categorias" role="button">
                <i class="fa-solid fa-list" style="font-size: 24px; color: #D98F8F; transition: transform 0.3s ease, color 0.3s ease;"></i>
                Categorias
            </a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

     

					<div class="topbar-divider d-none d-sm-block"></div>
					<li th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}" class="nav-item dropdown no-arrow" >
						<a class="nav-link text-gray-600" href="/usuarios" role="button">
							<i class="fas fa-user fa-sm fa-fw mr-3 text-gray-600" style="font-size: 18px; color: #D98F8F; transition: transform 0.3s ease, color 0.3s ease;"></i>
							Usuarios
						</a>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>
					
					<!--<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle text-gray-600" href="/usuarios" role="button">
							<i class="fas fa-users fa-sm fa-fw mr-3 text-gray-600"></i>
							Usuarios
						</a>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>-->


					<!-- Nav Item - User Information -->

					<li sec:authorize="isAuthenticated()" class="nav-item dropdown text-gray-900">
						
						<a class="nav-link dropdown-toggle text-gray-900" href="#" id="userDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							 
							 	Hola: <span sec:authentication = "principal.username" /> 
						    
						</a>
						
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							aria-labelledby="userDropdown">
							<a class="dropdown-item" href="/seguridad/password">
								<i class="fas fa-lock fa-sm fa-fw mr-3 text-gray-600"></i>
								Contraseña
							</a>

							<a class="dropdown-item" href="/voluntariado/setEmail">
								<i class="fas fa-address-card fa-sm fa-fw mr-3 text-gray-600"></i>
								Configurar datos contacto
							</a>
							<div class="dropdown-divider"></div>
							<div sec:authorize="hasAuthority('ROLE_USER')">
								<a class="dropdown-item" href="/seguridad/panel">
									<i class="fas fa-cog fa-sm fa-fw mr-3 text-gray-600"></i>
									Configuración User
								</a>
								<div class="dropdown-divider"></div>
							</div>
							<div sec:authorize="hasAuthority('ROLE_ADMIN')">
								<a class="dropdown-item" href="/seguridad/panel">
									<i class="fas fa-cog fa-sm fa-fw mr-3 text-gray-600"></i>
									Configuración Admin
								</a>
								<div class="dropdown-divider"></div>
							</div>
							<a   class="dropdown-item" th:href="@{/logout}">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-3 text-gray-600"></i>
								<span >Cerrar Sesión</span>
							</a>
						</div>
					</li>
					 
					
				</ul>

			</nav>
			
			<div class="topbar-divider d-none d-sm-block">

						<li sec:authorize="isAnonymous()" class="nav-link  text-gray-600">
							<a class="btn btn-primary btn-lg" href="/login">Login</a>
						</li>
						<li sec:authorize="isAuthenticated()"class="nav-link  text-gray-600">
						<form th:action="@{/logout}" method="post">
							<input class="btn btn-primary btn-lg" type="submit" value="Cerrar Sesión" />
						</form>
						</li>
					</div>
			
		</div>
	</div>
</div>